langchain-openai
langchain_community
langchain_core
langchain
openai
streamlit
huggingface_hub
python_dotenv
PyPDF2
faiss-cpu
langchain_google_genai
google.generativeai
langchain_google_genai
psycopg2-binary
pgvector==0.2.4
azure-storage-blob==12.18.3
unstructured==0.11.6
azure-functions
azure-storage-blob
azure-identity
requests
streamlit-authenticator
passwordgenerator
matplotlib
st-circular-progress
langchain-postgres